downloads/
project/

platform_specific/android/jni/SDL/

*bin
*obj
*suo
*.user
*.tmp

*.project
*.classpath
*.settings
platform_specific/android/gen/
platform_specific/android/libs/
platform_specific/android/local.properties
