downloads/
project/

platform_specific/android/jni/SDL/
platform_specific/android/jni/src/game/Android.mk
platform_specific/android/jni/src/engine/Android.mk

test/gmock

*bin
*doc
*obj
*suo
*.user
*.tmp

*.project
*.classpath
*.settings
platform_specific/android/gen/
platform_specific/android/libs/
platform_specific/android/local.properties
